In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('insurance.csv')

In [5]:
df.groupby(['age']).size()

age
18    69
19    68
20    29
21    28
22    28
23    28
24    28
25    28
26    28
27    28
28    28
29    27
30    27
31    27
32    26
33    26
34    26
35    25
36    25
37    25
38    25
39    25
40    27
41    27
42    27
43    27
44    27
45    29
46    29
47    29
48    29
49    28
50    29
51    29
52    29
53    28
54    28
55    26
56    26
57    26
58    25
59    25
60    23
61    23
62    23
63    23
64    22
dtype: int64

In [6]:
df.groupby(['sex']).size()

sex
female    662
male      676
dtype: int64

In [7]:
df.groupby(['bmi']).size()

bmi
15.960    1
16.815    2
17.195    1
17.290    3
17.385    1
         ..
48.070    1
49.060    1
50.380    1
52.580    1
53.130    1
Length: 548, dtype: int64

In [8]:
df.groupby(['children']).size()

children
0    574
1    324
2    240
3    157
4     25
5     18
dtype: int64

In [9]:
df.groupby(['smoker']).size()

smoker
no     1064
yes     274
dtype: int64

In [10]:
df.groupby(['region']).size()

region
northeast    324
northwest    325
southeast    364
southwest    325
dtype: int64

In [11]:
df.groupby(['charges']).size()

charges
1121.87390     1
1131.50660     1
1135.94070     1
1136.39940     1
1137.01100     1
              ..
55135.40209    1
58571.07448    1
60021.39897    1
62592.87309    1
63770.42801    1
Length: 1337, dtype: int64